{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block inner %}

    <div class="container my-4 text-center">
        <div class="row">
            <div class="col-12 col-lg-7 col-xl-5 mx-auto mt-3 ">
                <!-- Material form login -->
                <div class="card mt-3">
                    <div class="card-header info-color white-text text-center py-4">
                        <img src="{% static 'images/ju_circle.png' %}" alt="" width="200">
                    </div>
                    <!--Card content-->
                    <div class="card-body px-lg-5 pt-5">
                        <div class="mb-4">
                            <span class="text-muted">Você ainda não alterou sua senha padrão. Por favor, altere-a.</span>
                        </div>
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

