{% extends 'member/base.html' %}

{% load static %}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-3">
                <div class="card card-outline-secondary mt-3">
                    <div class="text-center pt-3">
                        <img src="{% static 'images/ju_circle.png' %}" alt="" width="100">
                    </div>
                    <h5 class="card-header info-color white-text text-center py-4">
                        <strong>Relatório de Horas</strong>
                    </h5>   
                    <div class="card-body text-center">
                        <div class="row">
                            <h3 class="col">
                                <strong> Olá, {{ user.first_name }}</strong>
                            </h3>
                        </div>
                        <div class="row">
                            <h3 class="col">
                                <strong>Você cumpriu {{ hours }} hora(s) e {{ minutes }} minuto(s).</strong>
                            </h3>
                        </div>
                        <label class="my-5">Gerar relatório semanal: </label>
                        <button type="submit" class="btn btn-raised btn-primary">Gerar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
